
article:nth-child(1) {
    float:left;
    width: 45%;
}

article:nth-child(2) {
    float:right;
    width: 45%;
}
body {
    margin: 0px;
    padding: 0px;
}
body > div{
    width: 100%;
}

header{
    background-color: blue;
    height: 100px;
    width: 100%;
}
main {
    margin: 15px auto;
    width: 97%;
} 
article {
    background-color: green;
    color: white;
    padding: 10px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}