body {
    font-family: Georgia, serif;
    margin: 40px;
}

/* Estilos de listas ordenadas */
.lower-latin {
    list-style-type: lower-latin;
}

.upper-roman {
    list-style-type: upper-roman;
}

.upper-latin {
    list-style-type: upper-latin;
}

.lower-roman {
    list-style-type: lower-roman;
}
