 body {
     font-family: serif;
 }

 .contenedor {
     width: 500px;
     margin: 20px auto;
     border-left: 1px solid brown;
     padding-left: 10px;
 }

 textarea {
     width: 250px;
     height: 25px;
     resize: none;
 }

 button {
     margin-top: 10px;
 }